.intro-section {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    max-height: 800px;
}

.intro-section .intro-section-container {
    max-width: 61.5%;
    position: relative;
    top: 105px;
}

.intro-section .intro-text {
    width: 396px;
}

.intro-section .intro-discription {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    align-content: center;
    line-height: 46px;
    margin-top: 5px;
}

.intro-section .intro-text h1 {
    margin: 0px;
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
    line-height: 57px;
}

.intro-section .intro-text .vector-image {
    position: absolute;
    top: 49px;
    width: 215px;
}

.intro-section .get-started {
    width: 542px;
    height: 62px;
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.intro-section .get-started .get-started-input {
    width: 542px;
    padding-right: 230px;
    border-radius: 56px;
    border: 1px solid rgba(23, 59, 88, 1);
    padding-left: 30px;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 18px;
}

.intro-section .get-started .get-started-input,
.intro-section .get-started .get-started-button {
    height: 62px;
    box-sizing: border-box;
    position: absolute;
}

.intro-section .get-started .get-started-button {
    width: 229px;
    border-radius: 56px;
    background-color: rgba(237, 176, 49, 1);
    border: none;
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: center;
    cursor: pointer;
}

.intro-section .get-started .get-started-button:hover {
    background-color: rgb(225 166 44);
}

.intro-section .get-started .get-started-button img {
    width: 24px;
    height: 24px;
}


.intro-section .get-started .get-started-button span {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
}

.intro-section .get-started .get-started-input::placeholder {
    font-size: 18px;
    font-family: 700;
    opacity: 30%;
    color: var(--text-color);
}


.intro-section .social {
    width: 306px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.intro-section .social .social-icon {
    width: 148px;
    height: 100%;
    background-color: rgba(237, 242, 247, 1);
    border-radius: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.intro-section .social .social-icon:hover {
    background-color: rgb(229 232 235);
}

.intro-section .social .social-icon img.feide {
    width: 84px;
    height: 29px;
}

.intro-section .social .social-icon img.vipps {
    width: 102px;
    height: 26px;
}

.intro-section .intro-image-section {
    position: relative;
}

.intro-section .intro-image-section .intro-image {
    position: relative;
    top: -135px;
}

.intro-section .intro-image-section .intro-image img {
    width: 100%;
    object-fit: cover;
}

.intro-section .intro-image-section .user-review {
    width: 380px;
    border-radius: 16px;
    border: 1px solid rgba(195, 196, 198, 1);
    padding: 28px 20px 16px 20px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 65px;
    left: -60px;
}

.intro-section .intro-image-section .user-review p {
    margin: 0px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(30, 30, 30, 1);
    line-height: 26px;
}


.intro-section .intro-image-section .user-review .user-detail img {
    width: 56px;
    height: 56px;
}

.intro-section .intro-image-section .user-review .user-detail {
    display: flex;
    justify-content: start;
    gap: 8px;
    margin-top: 12px;
}

.intro-section .intro-image-section .user-review .user-detail .user-detail-text {
    margin: 5px 0px;
    display: grid;
    align-items: center;
}

.intro-section .intro-image-section .user-review .user-detail .user-detail-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1px;
}

.intro-section .intro-image-section .user-review .user-detail .user-detail-text h1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
}

.intro-section .intro-image-section .user-review .user-detail h1,
.intro-section .intro-image-section .user-review .user-detail p {
    margin: 0px;
}

.intro-section .intro-image-section .user-review .user-detail img {
    width: 56px;
    height: 56px;
}


.intro-section .intro-image-section .user-review .user-detail h1 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.intro-section .intro-image-section .teacher-and-member {
    width: 234px;
    border-radius: 16px;
    border: 1px solid rgba(195, 196, 198, 1);
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    right: 131px;
    bottom: 245px;
}

.intro-section .intro-image-section .teacher-and-member img {
    width: 50px;
    position: absolute;
}

.intro-section .intro-image-section .teacher-and-member .teachers-members-text {
    display: block;
    padding: 24px;
}

.intro-section .intro-image-section .teacher-and-member .teachers-members-text h4 {
    font-size: 25px;
    font-weight: 700;
    color: rgba(23, 59, 88, 1);
}

.intro-section .intro-image-section .teacher-and-member .teachers-members-text p {
    font-size: 18px;
    color: rgba(30, 30, 30, 1);
    margin-top: 8px !important;
}

.intro-section .intro-image-section .teacher-and-member .teachers-members-text h4,
.intro-section .intro-image-section .teacher-and-member .teachers-members-text p {
    margin: 0px;
    text-align: center;
}

@media screen and (max-width: 1440px) {
    .intro-section .intro-image-section .intro-image {
        top: -80px;
    }
    
    .intro-section .intro-discription {
        line-height: 16px;
    }
    
    .intro-section .intro-image-section .user-review {
        width: 350px;
        padding: 28px 20px 16px 20px;
        bottom: 100px;
    }

    .intro-section .intro-image-section .user-review p {
        margin: 0px;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }

    .intro-section .intro-image-section .user-review .user-detail img {
        width: 48px;
        height: 48px;
    }

    .intro-section .intro-image-section .user-review .user-detail {
        margin-top: 8px;
    }

    .intro-section .intro-image-section .user-review .user-detail h1 {
        font-size: 16px;
        line-height: 24px;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text {
        margin: 5px 0px;
        display: grid;
        align-items: center;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text h1 {
        font-size: 16px;
        line-height: 24px;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text p {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .intro-section .intro-image-section .teacher-and-member {
        width: 184px;
        right: 105px;
        bottom: 270px;
    }
    
    .intro-section .intro-image-section .teacher-and-member img {
        width: 48px;
        position: absolute;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text {
        display: block;
        padding: 16px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text h4 {
        font-size: 20px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text p {
        font-size: 14px;
    }

    .intro-section .intro-text {
        width: 360px;
    }
    
    .intro-section .intro-discription {
        font-size: 22px;
        line-height: 42px;
        margin: 10px 0px;
    }
    
    .intro-section .get-started {
        width: 535px;
        height: 55px;
    }
    
    .intro-section .get-started .get-started-input {
        width: 535px;
        font-size: 16px;
        padding: 15px 230px 15px 15px;
    }
    
    .intro-section .get-started .get-started-input,
    .intro-section .get-started .get-started-button {
        height: 55px;
    }
    
    .intro-section .get-started .get-started-button {
        width: 220px;
    }
    
    .intro-section .get-started .get-started-button span {
        font-size: 16px;
    }
    
    .intro-section .get-started .get-started-input::placeholder {
        font-size: 16px;
        opacity: 30%;
    }
    
    
    .intro-section .social {
        width: 290px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    .intro-section .social .social-icon {
        width: 148px;
        background-color: rgba(237, 242, 247, 1);
        border-radius: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .intro-section .social .social-icon img.feide {
        width: 80px;
        height: 25px;
    }
    
    .intro-section .social .social-icon img.vipps {
        width: 97px;
        height: 25px;
    }
}

@media screen and (max-width: 1279px) {
    .intro-section .intro-image-section .intro-image {
        top: 0px;
    }

    .intro-section .intro-discription {
        line-height: 14px;
    }

    .intro-section .intro-image-section .user-review {
        width: 200px;
        padding: 18px 16px 10px 16px;
        bottom: 140px;
        left: 15px;
    }

    .intro-section .intro-image-section .user-review p {
        margin: 0px;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
    }

    .intro-section .intro-image-section .user-review .user-detail img {
        width: 36px;
        height: 36px;
    }

    .intro-section .intro-image-section .user-review .user-detail {
        margin-top: 8px;
    }

    .intro-section .intro-image-section .user-review .user-detail h1 {
        font-size: 10px;
        line-height: 18px;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text {
        margin: 5px 0px;
        display: grid;
        align-items: center;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text h1 {
        font-size: 10px;
        line-height: 18px;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text p {
        font-size: 8px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .intro-section .intro-image-section .teacher-and-member {
        width: 140px;
        right: 95px;
        bottom: 260px;
    }
    
    .intro-section .intro-image-section .teacher-and-member img {
        width: 36px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text {
        display: block;
        padding: 12px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text h4 {
        font-size: 16px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text p {
        font-size: 10px;
    }

    .intro-section .intro-image-section .user-review .user-detail img {
        width: 36px;
        height: 36px;
    }

    .intro-section .intro-image-section .user-review .user-detail {
        margin-top: 6px;
    }

    .intro-section .intro-image-section .user-review .user-detail h1 {
        font-size: 9px;
        line-height: 16px;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text {
        margin: 5px 0px;
        display: grid;
        align-items: center;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text h1 {
        font-size: 9px;
        line-height: 16px;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text p {
        font-size: 7px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .intro-section .intro-text {
        width: 300px;
    }
    
    .intro-section .intro-text .vector-image {
        width: 180px;
        top: 40px;
    }

    .intro-section .intro-discription {
        font-size: 18px;
        line-height: 38px;
    }
    
    .intro-section .intro-text h1 {
        font-size: 34px;
        line-height: 48px;
    }
    
    .intro-section .get-started {
        width: 450px;
    }
    
    .intro-section .get-started .get-started-input {
        width: 450px;
        font-size: 14px;
        padding: 15px 195px 15px 15px;
    }
    
    .intro-section .get-started .get-started-input,
    .intro-section .get-started .get-started-button {
        height: 45px;
    }
    
    .intro-section .get-started .get-started-button {
        width: 190px;
    }
    
    .intro-section .get-started .get-started-button span {
        font-size: 14px;
    }
    
    .intro-section .get-started .get-started-input::placeholder {
        font-size: 14px;
    }
    
    .intro-section .social {
        width: 270px;
    }
    
    .intro-section .social .social-icon img.feide {
        width: 70px;
    }
    
    .intro-section .social .social-icon img.vipps {
        width: 70px;
    }
}

@media screen and (max-width: 1023px) {
    .intro-section .intro-image-section .intro-image {
        top: -30px;
    }

    .intro-section .intro-discription {
        line-height: 12px;
    }

    .intro-section .intro-image-section .user-review {
        width: 180px;
        padding: 16px 14px 8px 14px;
        bottom: 85px;
        left: 15px;
    }

    .intro-section .intro-image-section .user-review p {
        margin: 0px;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 9px;
        line-height: 12px;
    }

    .intro-section .intro-image-section .user-review .user-detail img {
        width: 34px;
        height: 34px;
    }

    .intro-section .intro-image-section .user-review .user-detail {
        margin-top: 6px;
    }

    .intro-section .intro-image-section .user-review .user-detail h1 {
        font-size: 9px;
        line-height: 16px;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text {
        margin: 5px 0px;
        display: grid;
        align-items: center;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text h1 {
        font-size: 9px;
        line-height: 16px;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text p {
        font-size: 7px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .intro-section .intro-image-section .teacher-and-member {
        width: 120px;
        right: 80px;
        bottom: 200px;
    }
    
    .intro-section .intro-image-section .teacher-and-member img {
        width: 32px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text {
        display: block;
        padding: 10px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text h4 {
        font-size: 14px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text p {
        font-size: 8px;
    }

    .intro-section .intro-text {
        width: 280px;
    }
    
    .intro-section .intro-discription {
        font-size: 18px;
        line-height: 38px;
    }

    .intro-section .intro-text .vector-image {
        top: 40px;
        width: 170px;
    }
    
    .intro-section .intro-text h1 {
        font-size: 32px;
        line-height: 46px;
        width: 100%;
    }
    
    .intro-section .get-started {
        width: 430px;
        height: 45px;
    }
    
    .intro-section .get-started .get-started-input {
        width: 430px;
        font-size: 14px;
        padding-right: 190px;
    }
    
    .intro-section .get-started .get-started-input,
    .intro-section .get-started .get-started-button {
        height: 45px;
    }
    
    .intro-section .get-started .get-started-button {
        width: 190px;
    }
    
    .intro-section .get-started .get-started-button span {
        font-size: 14px;
    }
    
    .intro-section .get-started .get-started-input::placeholder {
        font-size: 14px;
    }
    
    .intro-section .social {
        width: 270px;
    }
    
    .intro-section .social .social-icon img.feide {
        width: 70px;
    }
    
    .intro-section .social .social-icon img.vipps {
        width: 70px;
    }
}

@media screen and (max-width: 940px) {

    .intro-section {
        max-width: 939px;
        display: grid;
        margin-top: 50px;
    }

    .intro-section .intro-image-section {
        top: 0px;
    }

    .intro-section .intro-image-section .intro-image {
        top: 0px;
    }

    .intro-section .intro-section-container {
        max-width: 100%;
        top: 0px;
    }

    .intro-section .intro-text {
        width: 100%;
    }
    
    .intro-section .get-started {
        width: 100%;
        height: 45px;
    }
    
    .intro-section .get-started .get-started-input {
        width: 100%;
        padding: 15px 195px 15px 15px;
    }

    .intro-section .intro-image-section .user-review {
        width: 260px;
        padding: 16px 14px 8px 14px;
        bottom: 50px;
        left: 0px;
    }

    .intro-section .intro-image-section .user-review p {
        margin: 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .intro-section .intro-image-section .user-review .user-detail img {
        width: 46px;
        height: 46px;
    }

    .intro-section .intro-image-section .user-review .user-detail h1 {
        font-size: 16px;
        line-height: 26px;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text h1 {
        font-size: 16px;
        line-height: 26px;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text p {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .intro-section .intro-image-section .teacher-and-member {
        width: 170px;
        right: 110px;
        bottom: 230px;
    }
    
    .intro-section .intro-image-section .teacher-and-member img {
        width: 40px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text {
        display: block;
        padding: 10px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text h4 {
        font-size: 18px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text p {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 720px) {
    .intro-section .intro-image-section .user-review {
        width: 220px;
        padding: 16px 14px 8px 14px;
        bottom: 55px;
        left: 0px;
    }

    .intro-section .intro-image-section .user-review p {
        margin: 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    .intro-section .intro-image-section .user-review .user-detail img {
        width: 42px;
        height: 42px;
    }

    .intro-section .intro-image-section .user-review .user-detail h1 {
        font-size: 14px;
        line-height: 20px;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text h1 {
        font-size: 14px;
        line-height: 20px;
    }

    .intro-section .intro-image-section .user-review .user-detail .user-detail-text p {
        font-size: 9px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .intro-section .intro-image-section .teacher-and-member {
        width: 150px;
        right: 80px;
        bottom: 150px;
    }
    
    .intro-section .intro-image-section .teacher-and-member img {
        width: 36px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text {
        display: block;
        padding: 10px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text h4 {
        font-size: 16px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text p {
        font-size: 12px;
    }
}

@media screen and (max-width: 540px) {
    .intro-section .intro-section-container {
        max-width: 100%;
        top: 0px;
    }

    .intro-section .intro-image-section .intro-image {
        top: 0px;
    }
    .intro-section .intro-image-section {
        top: 0px;
    }
    .intro-section .get-started .get-started-button {
        width: 40%;
        gap: 8px;
    }
    
    .intro-section .get-started .get-started-button img {
        width: 18px;
        height: 18px;
    }
    
    .intro-section .get-started .get-started-button span {
        font-size: 12px;
    }

    .intro-section .intro-image-section .teacher-and-member {
        width: 120px;
        right: 20px;
        bottom: 200px;
    }
    
    .intro-section .intro-image-section .teacher-and-member img {
        width: 36px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text {
        padding: 8px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text h4 {
        font-size: 14px;
    }
    
    .intro-section .intro-image-section .teacher-and-member .teachers-members-text p {
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    .intro-section .intro-section-container {
        max-width: 100%;
        top: 0px;
    }
    
    .intro-section .intro-image-section .intro-image {
        top: 0px;
    }
    
    .intro-section .intro-image-section {
        top: 0px;
    }

    .intro-section .get-started .get-started-input {
        padding: 15px 40% 15px 15px;
    }
    
    .intro-section .get-started .get-started-button {
        width: 40%;
        gap: 8px;
    }
    
    .intro-section .get-started .get-started-button img {
        width: 18px;
        height: 18px;
    }
    
    .intro-section .get-started .get-started-button span {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {

    .intro-section .get-started .get-started-button {
        width: 40%;
        gap: 6px;
    }

    .intro-section .get-started .get-started-button img {
        width: 14px;
        height: 14px;
    }
    
    .intro-section .get-started .get-started-button span {
        font-size: 10px;
    }

    .intro-section .get-started .get-started-input {
        padding-right: 40% !important;
    }

    .intro-section .get-started .get-started-input,
    .intro-section .get-started .get-started-button {
        height: 40px;
        padding: 12px;
    }
}